body,html{
    color: black;
    width: 100%;
    height: 100%;
    
 
}
body {
    background-image: url('images/sun.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container{
    overflow-y: scroll ;
    overflow-x: hidden;
}

.input-group {
    margin: 1em auto;
    width: 500px;
    
}
h6 {
    font-size: 2rem;
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
}
.weather-info{
    display: none;
    /* border-bottom: 1px solid black; */
   
}
#img {
    font-size: 80px;
}
.current-weather {
    font-size: 50px;
}
.description {
    font-size: 20px;
}

.temp-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp-card > :nth-child(1){
    margin-top: 22px;
    padding-bottom: 14px;
}
.temp-card > .current-weather{
    margin: 0;
 
}

#weeks{
    margin-top: 17px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    flex-direction: column;
    width: 400px;
    
}
.days-temp {
    display: flex;
    padding: 0 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    

}
.days-div {
    width: 63px;
    font-family:  'News Cycle', sans-serif;
    font-size: 23px;
}
.icons-size {
    font-size: 30px;
}
.temp-size {
    font-size: 20px;
}


@media screen and (max-width:400px) {
    .input-group {
    margin: 1em auto;
    width: 300px;
    
}
    #weeks{
        width: 300px;
    }
}

